---
import { m } from '@/i18n/messages'
import { getLocale, localizeHref } from '@/i18n/runtime'

const currentLocale = getLocale()
const isHome = Astro.url.pathname === '/'
---

<a
  class='sr-only'
  href={`#${m.main_content_anchor()}`}>
  {m.skip_to_main_content()}
</a>
{
  !isHome && (
    <a
      class='sr-only'
      href={localizeHref('/', { locale: currentLocale })}>
      {m.go_to_homepage()}
    </a>
  )
}
