.astro/
.turbo/
/playwright/.auth/
blob-report/
coverage/
dist/
node_modules/
playwright-report/
playwright/.cache/
storybook-static/
test-results/

*.tsbuildinfo
.DS_Store
Thumbs.db
vite.config.ts.timestamp-*
