---
import { m } from '@/i18n/messages'
import { locales, localizeHref } from '@/i18n/runtime'

import DefaultLayout from '@/layouts/Default.astro'

const metadata = {
  title: m.accessibility(),
  description: m.sample_text(),
  alternates: locales.map((locale) => ({
    locale,
    href: localizeHref('/accessibility', { locale }),
  })),
}
---

<DefaultLayout metadata={metadata}>
  <main id={m.main_content_anchor()}>
    <h1>{metadata.title}</h1>
    <p>{metadata.description}</p>
  </main>
</DefaultLayout>
