---
import { m } from '@/i18n/messages'
import { locales, localizeHref } from '@/i18n/runtime'

import DefaultLayout from '@/layouts/Default.astro'

const metadata = {
  description: m.sample_text(),
  alternates: locales.map((locale) => ({
    locale,
    href: localizeHref('', { locale }),
  })),
}
---

<DefaultLayout metadata={metadata}>
  <main id={m.main_content_anchor()}>
    <h1>{m.homepage()}</h1>
    <p>{metadata.description}</p>
  </main>
</DefaultLayout>
